.header {
    grid-area: h;
    background-color: rgb(117, 238, 240);
  }

.header img {
    width: 6vw;
    height: 6vh;
    padding: 3px;
  }

.loginBlock {
    float: right;
    padding:15px;
}
.loginBlock a{
    text-decoration:none;
    color: whitesmoke;
  }

